@import "tailwindcss";



@theme inline {
  --font-sans: var(--font-poppins);
  --font-serif: var(--font-volkhov);
}

body {
  background: #ffffff;
  color: #181E4B;
  font-family: var(--font-sans);
}